#JavaScript artifacts to be created
*.js
*.js.map

#Gulp files
!gulpfile*.js

#Visual Studio crap from original source code
*.csproj*
*.sln
*.suo
bin/
obj/
web.config

#Installed node.js modules
node_modules/