body {
    font-family: 'Segoe UI', sans-serif;
    margin: 40px;
}

span {
    font-style: italic;
}

h3 {
    display:inline;    
}

textarea
{
    width: 200px;
    height: 100px;

    margin-top: 5px; 
}


.painterData {
    margin-top: 10px; 
    margin-bottom: 10px; 
}


#content
{
    float:left;
}

.logoImg
{
    float:left;
    margin-bottom: 5px;
    margin-right: 5px; 
}
.examples
{

}
